<h3>Hello</h3>

<%= link_to "New", newTask_path(@task), style: "display: block" %>


<% @tasks.each do |task| %>
  <%= link_to task_path(task.id) do %>
    <div class="task">
      <h3><%= task.title %></h3>
      <% end %>
      <p><%= task.details %></p>
      <p><%= task.completed %></p>
    </div>

  <% end %>


